  <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('')">
    <div class="card-description">
      <h2><%= service.title %></h2>
      <p>£<%= service.rate %></p>
    </div>
    <%= link_to "", service_path(service), class: "card-link"  %>
  </div>
