<div class="container">
  <br>
  <h1>All Services</h1>
  <hr>
  <div class="row">
    <% @services.each do |service| %>
      <div class="col-xs-12 col-sm-6 col-lg-4">
        <%= render "services/card", service: service %>
      </div>
    <% end %>
  </div>
</div>














