<div class="card-description">
  <h2>Hired:<%= contract.service.first_name last_name %>/h2>
  <h2><%= contract.service.title %></h2>
  <h2><%= contract.message %></h2>
  <h2>Daily rate: £ <%= contract.service.rate %></h2>
</div>
