<div class="container">
  <div class="row">
    <br>
    <h1 class="text-center">My contracts</h1>
    <hr></div>
</div>
<div class="container">
  <div class="row">
    <% if @my_contracts.any? %>
      <% @my_contracts.each do |contract| %>
        <div class="col-xs-12 col-sm-4">
          <div class="card">
            <%= render "contracts/card-employee", contract: contract %>
          </div>
        </div>
      <% end %>
    <% else %>
      <h1 class="text-center"><%= "There are no contracts" %></h1>
    <% end %>
  </div>
</div>
<hr>
<div class="container">
  <div class="row">
    <br>
    <h1 class="text-center">Freelancers I have hired</h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <% if @booked_contracts != nil %>
      <% @booked_contracts.each do |contract| %>
        <div class="col-xs-12 col-sm-4">
          <%= render "contracts/card-employer", contract: contract %>
        </div>
      <% end %>
    <% else %>
      <h1 class="text-center"><%= "You have not hired anyone" %></h1>
    <% end %>
  </div>
</div>
