<div class="container">
  <div class="row">
    <br>
    <h1 class="text-center">My contracts</h1>
    <hr></div>
</div>
<div class="container">
  <div class="row">
    <% if @contracts.any? %>
      <% @contracts.each do |contract| %>
        <div class="col-xs-12 col-sm-4">
          <div class="card">
            <%= render "contracts/card", contract: contract %>
          </div>
        </div>
      <% end %>
    <% else %>
      <h1 class="text-center"><%= "There are no contracts" %></h1>
    <% end %>
  </div>
</div>
<hr>
<div class="container">
  <div class="row">
    <br>
    <h1 class="text-center">Devs I have hired</h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <% if @users != nil %>
      <% @users.each do |user| %>
        <div class="col-xs-12 col-sm-4">
          <div class="card">
            <%= render "contracts/devs", user: user %>
          </div>
        </div>
      <% end %>
    <% else %>
      <h1 class="text-center"><%= "You have not hired anyone" %></h1>
    <% end %>
  </div>
</div>
