

<div class="banner-big" style="background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path 'background.jpg' %>')">
  <div class="banner-big-content">
    <h1>Connect</h1>
    <p>Connect with potential development partners!</p>
    <%= link_to "All Postings", services_path, class: "btn btn-primary btn-lg" %>
  </div>
</div>

<div class="container">
  <br>
  <h1 class="text-center">Featured</h1>
  <hr>
  <div class="row">
      <% @services.each do |service| %>
        <div class="col-xs-12 col-sm-4">
          <div class="card">
            <%= render "services/card", service: service %>
          </div>
        </div>
      <% end %>
  </div>
</div>
