<div class="container">
  <div class="row">
    <br>
    <h1 class="text-center">My Services</h1>
    <hr></div>
</div>
<div class="container">
  <div class="row">
    <% if @services.any? %>
      <% @services.each do |service| %>
        <div class="col-xs-12 col-sm-4">
          <%= render "services/card", service: service %>
        </div>
      <% end %>
    <% else %>
      <h1 class="text-center"><%= "You have no services for hire" %></h1>
    <% end %>
  </div>
</div>
