/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 2em;
  padding-bottom: 5em;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}

.login {
  background-color: #fbfbf7;
  padding-bottom: 12px;
}
.info {
  padding: 12px;
  border-radius: 3px;
  border: 1px solid black;
  margin-bottom: 15px;
  margin-top: 8px;
}
.service {
  padding: 12px;
  border-radius: 3px;
  border: 1px solid black;
  margin-bottom: 15px;
}
.experience {
  padding: 12px;
  border-radius: 3px;
  border: 1px solid black;
  margin-bottom: 15px;
}

.content-wrapper {
  display: flex;
  align-items: center;
  min-height: calc(100vh - 178px);
}


.badge{
  position: absolute;
  top: -15px;
  right: -15px;
}
.status{
  color: black !important;
  text-decoration: underline;
}
