/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 2em;
  padding-bottom: 5em;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}

.login {
  background-color: #fbfbf7;
  padding-bottom: 12px;
}
.info {
  padding: 12px;
  border-radius: 3px;
  border: 1px solid black;
  margin-bottom: 15px;
  margin-top: 8px;
}
.service {
  padding: 12px;
  border-radius: 3px;
  border: 1px solid black;
  margin-bottom: 15px;
}
.experience {
  padding: 12px;
  border-radius: 3px;
  border: 1px solid black;
  margin-bottom: 15px;
}

.card {
  height: 175px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  color: black;
  position: relative;
  background-color: #CDCFC4;
  border: 1px solid black;
}
.btn {
  margin-top: 3px;
}
.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
}
.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 10px;
  text-transform: uppercase;
}
.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.card-description h2 {
  font-size: 18px;
}
.card-description p {
  font-size: 13px;
  }
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index:2;
  background: black;
  opacity: 0;
}
.card-link:hover{
  opacity: 0.1;
}
.badge{
  position: absolute;
  top: -15px;
  right: -15px;
}
.status{
  color: black !important;
  text-decoration: underline;
}
