.banner-show {
  color: white;
  text-align: center;
  height: 20vh;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 7px;
}

.show-container {
  display: flex;
}

.show-container-left {
  flex: 1 0 70%;
}
.show-container-right {
  flex: 1 0 30%;
  text-align: right;
}

.show-user-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px;
  .avatar-large {
    margin-right: 20px;
  }
}

.other-service-container {
  h4 {
    margin-top: 0;
  }
  padding: 20px;
  background-color: #F7F7F7;
  .product {
    background: white;
      margin-bottom: 10px;
    a {
      color: black;
      text-decoration: none;
      &:hover {
        color: black;
        text-decoration: none;
      }
    }
    h3 {
      font-size: 18px;
      font-weight: 300;

    }
    p {
      font-size: 14px;
    }
  }

}

.show-cta {
  padding: 20px 0;
  width: 100%;
  a, button {
    width: 100%;
    margin: 10px auto;
  }
}


