.banner-show {
  color: white;
  text-align: center;
  height: 20vh;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 7px;
}

.show-container {
  display: flex;
  align-items: center;
}

.show-container-left {
  flex: 1 0 60%;
}
.show-container-right {
  flex: 1 0 40%;
  text-align: right;
}
